<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Ingresar/styles/stylesIngresar.css">
    <link href="https://fonts.googleapis.com/css2?family=Sen&display=swap" rel="stylesheet">

    <title>Formulario</title>
</head>
<body>
    <main>
     
    <article class="img-container">
        <div>
            <img class="image" src="/Ingresar/img/ingresarImg.jpg" alt="">
        </div>
    </article>

    <h1 class="title">¡Obtene el mejor café de tu barrio!</h1>
    <article class="buttons-container">
        
        <div><button class="buttons button-ingresar" >Ingresar</button></div>
        <div><button class="buttons button-crear" >Crear Cuenta</button></div>
    </article>
</main>
</body>
</html>