<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/styleIntro.css">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" ></script> 

    <title>Intro</title>
</head>
<body>
    <main class="main-container" id="main-container">
        
        <article>
        <div class="title-container titleGsap">
            <h1 class="title titleGsap" >Almendra</h1>
            <h2 class="title titleGsap" >Cafe de especialidad</h2>
        </div>
            <div class="logo">
                <img class='icono-machine ' id='icono-machine' src="../img/coffee-machine.png" alt="">

                <img class='icono-shop iconoShopGsap' id='icono-shop'src="../img/coffee-shop.png" alt="">
            </div>

<div class="linea"></div>

            <div class="button-container">
                <button class="button-intro buttonGsap" id="button-intro">Ingresar</button>
            </div>
           
        </article>
    </main>
    
    <script src="../js/scripts.js"></script>
</body>
</html>